---
---

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header     header'
    'navigation content';
  grid-gap: 20px;

  &--without-nav {
    grid-template-areas:
      'header  header'
      'content content';
  }

  .navigation {
    grid-area: navigation;

    .navigation__collection--highlighted {
      background-color: #55669966;
    }
  }

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    
    &__title {
      text-decoration: underline;
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;

  &__tag {
    border-radius: 5px;
    padding: 2px;
    background-color: #CCCCCC66;
    margin: 2px;

    &--active {
      background-color: #55669966;
    }
  }
}
