---
---

:root {
  --color-theme-1: #556699;
  --color-theme-1-transparent: #55669966;
  --color-theme-2: #995566;
  --color-theme-2-transparent: #99556666;
  --color-gray-0: #FFF;
  --color-gray-0-transparent: #FFFFFF66;
  --color-gray-1: #CCCCCC;
  --color-gray-1-transparent: #CCCCCC66;

  --desktop-nav-width: 300px;
}

.main {
  background-color: var(--color-gray-0);
  display: grid;
  grid-template-columns: var(--desktop-nav-width) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header     header'
    'navigation content';
  grid-gap: 20px;

  .navigation {
    grid-area: navigation;
    border-right: 4px solid var(--color-theme-2);

    .navigation__collection--highlighted {
      background-color: var(--color-theme-1-transparent);
    }

    .navigation__toggle {
      display: none;
    }
  }

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    
    &__title {
      text-decoration: underline;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 10px 1fr;

    .navigation {
      padding-left: 10px;
      position: relative;

      & > *:not(.navigation__toggle) {
        display: none;
      }

      .navigation__toggle {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        right: -15px;
        --svg-line: var(--color-theme-2);
        --svg-background: var(--color-gray-0);

        &:hover {
          --svg-background: var(--color-gray-1);
        }
      }
    }
  }
  &.main--with-navigation {
    .navigation__toggle {
      transform: scaleX(-1);
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr 0;

      .navigation > *:not(.navigation__toggle) {
        display: initial;
      }

      .content {
        overflow: hidden;
      }
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;

  &__tag {
    border-radius: 5px;
    padding: 2px;
    background-color: var(--color-gray-1-transparent);
    margin: 2px;

    &--active {
      background-color: var(--color-theme-1-transparent);
    }
  }
}

.button--reset {
  /* From https://gist.github.com/MoOx/9137295 */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
